@import "maps";
@import "navbar";
@import "hero";
@import "globals";
@import "player";
@import "login";



.main-content{
    @include center;
    flex-direction: column-reverse;
    text-align: center;
    margin: 1rem auto;
}
.col-3{
    margin-top: 2rem;
}
.c-img{
    padding: 0.8rem;
    border: 2px solid map-get($backgroundColors, b-bottom );
    margin-bottom: 1rem;
}
.sponsors{
    @include column-center;
    justify-content: space-evenly;
    background: map-get($backgroundColors, content);
    padding: 1rem;
}
.sponsor-img{
    width: 30%;
    padding: 0.4rem;
}
.artist{
    @include center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    background: map-get($backgroundColors, content-2);
}
.card{
    z-index: 1;
    @include center;
    text-align: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    background: map-get($backgroundColors, card);
    @include shadow;
    width: 250px;    
    height: 450px;
    @include round-corners;
    transition: 0.5s all;
    .btn{
        color: map-get($backgroundColors, nav );
    }
    &:hover{
        transform: translateY(-3px);
    }
}
.card-img{
    width: 50%;
    border-radius: 10rem;
}
.fa{
    @extend .btn;
    padding: 0.3rem;
    margin: 5px;
    color: map-get($backgroundColors, nav )
}
.contact{
    @extend .artist;
    background: map-get($backgroundColors, nav );
}
.form{
    width: 80%;
    input[type="text"], textarea{
        width: 100%;
        height: 2rem;
        margin-bottom: 0.5rem;
        background: map-get($backgroundColors, card);
        border: transparent;
        resize: vertical;
    }
    input[type="submit"]{
        width: 40%;
        padding: 0.4em;
        background-color: map-get($backgroundColors, btn);
        border: none;
        @include round-corners;
        transition: 0.5s all;
        text-transform: uppercase;
        color: map-get($backgroundColors, nav );
        font-size: $h4;
        &:hover{
            opacity: 0.8;
        }
    }
}
.footer{
    @extend .artist;
    background-color: map-get($backgroundColors, footer);
    padding: 1rem 0;
}
.menu-ft{
    display: block;
    list-style: none;
    margin-bottom: 1rem;
    li{
        padding: 0.4rem 0;
    }
    a{
    color: map-get($backgroundColors, nav);
    }
}
.subscribe{
    @extend .form;
    width: 100%;
    input{
        width: 70%;
    }
}
.col-7{
    padding: 2rem 0;
}
.copy{
    background: black;
    color: white;
    width: 100%;
    font-size: map-get($headings, p-2 );
    font-weight: 200;
    text-align: center;
}

@media (min-width: 950px){
    .main-content{
        @include center;
        flex-direction: row;
        text-align: left;
        padding: 2rem;
    }
    .col-3{
        @include center;
        flex-basis: 50%;
    }
    .col-4{
        flex-basis: 50%;
        @include center;
        flex-direction: column;
        .btn{
            color: map-get($backgroundColors, nav );
        }
    }
    .c-img{
        padding: 0.8rem;
        border: 2px solid map-get($backgroundColors, b-bottom );
        margin-bottom: 1rem;
    }
    .sponsors{
        @include center;
        justify-content: space-evenly;
    }
    .sponsor-img{
        width: 20%;
        padding: 0.4rem;
    }
    .artist{
        @include center;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem
    }
    .contact{
        flex-direction: column;
    }
    .footer{
        flex-direction: row;
    }
    .col-5{
        flex-basis: 1;
    }
    .col-6{
        flex-basis: 2;
    }
    .col-7{
        flex-basis: 3;
    }
    .copy{
        align-self: flex-end;
        width: 100%;
        text-align: center;
    }
}
